PORT=5000
DATABASE_URL=postgresql://postgres:password@postgres:5432/docdb
REDIS_URL="redis://redis:6379"
JWT_SECRET=supersecret123
JWT_EXPIRES_IN="7d"
ENCRYPTION_KEY=8bfc0b6c2df7ac5d9c329e92e6808b4f186b3566a2e472329aca83cdbc053437
FRONTEND_URL=https://secure-doc-two.vercel.app
